@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&display=swap');

.body {
    font-family: 'Bona Nova', serif;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

section {
    margin: 20px;
}

.title,
.current-sold,
.recent-operation,
.form-transaction {
    margin: 20px 0px;
    padding: 10px;
}

.current-sold,
.recent-operation,
.form-transaction {
    background: palegoldenrod   ;
    border-radius: 10px;
}

.operation-details {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 5px;
    background-color: rgb(173, 168, 107);
    border-radius: 10px;
}

.operation-details span {
    margin: 5px;
}

.form-transaction div {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.current-sold h2 {
    margin-bottom: 5px;
}

.title {
    text-decoration: underline black;
}

label {
    margin-bottom: 5px;
}

.removeBtn {
    color: #000;
    background: palegoldenrod;
    border: #fff;
    padding: 5px;
    width: 30px;
    border-radius: 50%;
}

.btnSubmit {
    color: #000;
    background: rgb(173, 168, 107);
    border: #fff;
    padding: 10px 5px;
    border-radius: 10px;
}

@media (min-width: 768px) { 

    .operation-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .operation-details span {
        text-align: start;
        width: 200px;
    }

    .operation-details span:nth-child(1) {
        padding-left: 15px;
    }
}

